.chess-experience{
    width: 100%;
    display: flex;
}
.chess-experience-image{
    width: 100%;
    height: 921px;
}

.chess-experience-image-container{
    width: 50%;
}
.chess-experience-right-side{
    width: 50%;
    background-color: whitesmoke;
}
.select{
    width: 40%;
    height: 46px;
    margin-left: 48px;
    margin-top: 95px;
}
.chees-buttons-container{
    display: flex;
    justify-content: space-between;
    padding: 46px;
    margin-top: 200px;
}

.dropdown{
    width: 390px;

}
.img-wrapper{
    width: 100px;
    height: 72px;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dropdown-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: unset;
    position: unset;
    margin: unset;
}