.start-account-container{
    width: 100%;
    background-color: whitesmoke;
    height: 84px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #e5e3e9;
}
.chess-second-square{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #E5E6E8;
    border-radius: 8px;
}
.chess-second-square p{
    color: #212529;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}